html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1222px;
  margin: 0 auto;
}
/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header_container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 26px;
}

/* intro */
.intro {
  max-width: 1920px;
  width: 100%;
  height: 700px;
  background-color: #e9ded4;
  padding-top: 124px;
}
/* TODO: продумать как смешивать с фоном */
/* height: 100vh; */
/* background-image: url(../assets/icons/background.svg);
  background-repeat: no-repeat;
  background-size: cover; */
/* mix-blend-mode: color-burn; */

.intro_title {
  font-family: "Merriweather", serif;
  font-style: normal;

  font-weight: 400;
  font-size: 60px;
  line-height: 110%;

  margin-bottom: 24px;
}
.intro_top,
.intro_centre,
.intro_bottom {
  display: block;
}

.intro_top {
  max-width: 542px;
  text-transform: uppercase;
  font-feature-settings:
    "pnum" on,
    "lnum" on;
}

.intro_centre {
  max-width: 347px;
  margin-left: 104px;
  text-align: right;
  text-transform: uppercase;
  font-feature-settings:
    "pnum" on,
    "lnum" on;
}

.intro_bottom {
  max-width: 542px;
  text-align: right;
  text-transform: uppercase;
  font-feature-settings:
    "pnum" on,
    "lnum" on;
}

.intro_description {
  font-family: "Golos Text", sans-serif;
  font-style: normal;

  font-weight: 400;
  font-size: 18px;
  line-height: 130%;

  margin-bottom: 40px;

  max-width: 542px;

  text-align: center;
  font-feature-settings:
    "pnum" on,
    "lnum" on;
}

.intro_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

.button_left,
.button_right {
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;

  width: 263px;
  height: 72px;

  border-radius: 66px;
}

.button_left {
  border: none;

  color: #ffffff;
  background: #1f1f1f;
}

.button_right {
  background: none;
  border: 2px solid #1f1f1f;
}

.button_left:hover {
  border: none;
  background: #fbce51;
  color: #1f1f1f;
}

.button_right:hover {
  background: #1f1f1f;
  border: 2px solid #1f1f1f;
  color: #ffffff;
}

.ellipse {
  position: absolute;
  width: 660px;
  height: 660px;
  left: 951px;
  top: -44px;

  background: #fbce51;
  border-radius: 50%;
}

.ellipse img {
  position: absolute;
  left: -8.5%;
  top: 6.61%;
  mix-blend-mode: overlay;
}

@keyframes ticker {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.running_line {
  padding: 18px 12px;
  position: relative;
  height: 60px;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 110%;

  color: #ffffff;
  background: #f54932;

  width: max-content;
  animation: ticker 60s linear infinite;
}
